.leaderboard {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #e6cea0;
  width: 100%;
}

.main-content-leaderboard {
  position: absolute;
  left: 11vw;
  width: 89vw;
  margin-top: 10vh;
  padding-left: 3vw;
  padding-right: 3vw;
  user-select: none;
}

.card-player-ava {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  align-self: center;
}

.card {
  text-align: center;
  width: 230px;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 30px;
  background-color: transparent;
  border-color: transparent;
  transition-duration: 500ms;
}

.card:hover {
  transform: scale(1.1);
}

.card.top1 {
  transform: scale(1.2);
}

.card.top1:hover {
  transform: scale(1.3);
}

.cards-holder {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 60px;
  justify-content: center;
  user-select: none;
}

.rows {
  text-align: center;
}
.small {
  width: 3%;
}

.long {
  width: 20%;
}

.mid {
  width: 10%;
}

.rows.borderless {
  border-color: transparent;
}

.rows.borderless:first-child {
  border-bottom-left-radius: 20px;
}

.rows.borderless:last-child {
  border-bottom-right-radius: 20px;
}

.sign-out:hover {
  cursor: pointer;
}
